.register-container {
  width: 50%;
  border: 1px solid;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form {
  width: 90%;
}
.register-form input {
  width: 80%;
  margin: 10px 10%;
}
.register-form p,
.register-form button {
  margin-left: 10%;
}
.register-form button {
  display: block;
}
.auth-error {
  color: red;
  font-weight: bold;
  font-size: 24px;
}
