h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.anchor-base-style {
  text-decoration: none;
  color: black;
}
